/************** ALWAYS APPLICABLE REGARDLESS OF SCREEN SIZE *************/
/************** GENERAL *************/
.colour-section {
	background-color: #D3D3D3;
	color: white;
}

html, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.blue {
	color: #001111;
}

.empty-space {
	padding: 2rem 0;
}

.blue-hyperlink {
	font-weight: bold;
	text-decoration: none;
	color: #000101;
}

.blue-hyperlink:hover {
	color: #000000;
}

.hex-general {
	position: relative;
	display: block;
}

/******** HEADINGS *******/
#header-main {
	font-size: 150px;
}

.heading {
	font-family: filson-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
}
/******** END-HEADINGS *******/

/************** END-GENERAL ****************/

 /*************** BANNER *******************/
.banner {
	font-family: 'Times New Roman', Times, serif;
	color: white;
	margin-top: 5px;
	margin-bottom: 20px;
}

.definition {
	margin: 14rem 0;
}

.hexRightHeader {
	left: -105px;
	top: -2%;
	width: 270px;
}

.hexLeftHeader {
	width: 300px;
	right: 50px;
}
/*************** END-BANNER *******************/

/******************************** ABOUT US *************************************/
#about {
	margin: 10rem 0 4rem;
}
/******************************** END-ABOUT US *************************************/

/******************************** MEET THE TEAM *************************************/
#team {
	padding-top: 4rem;
}

.paddy-card {
	background-image: url("../assets/img/undraw_Chat_bot_re_e2gj.png");
}

.paddy-card:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("C:/Users/Giorgos/Downloads/undraw_Internet_on_the_go_re_vben.svg");
}

.ellie-card {
	background-image: url("../assets/img/Ellie.JPG");
}

.ellie-card:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/Ellie.JPG");
}

.emily-card {
	background-image: url("../assets/img/Emily.JPG");
}

.emily-card:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/Emily.JPG");
}

.sotos-card {
	background-image: url("../assets/img/Sotos.JPG");
}

.sotos-card:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/Sotos.JPG");
}

.giorgos-card {
	background-image: url("../assets/img/Giorgos.JPG");
}

.giorgos-card:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/Giorgos.JPG");
}

.card-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	position: relative;
}

.founder-title {
	font-family: filson-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.founders {
	text-align: center;
	display: inline-flexbox;
	
}

.founder-social {
	border-radius: 50%;
	color: white;
	margin: 0 1.5rem;
	padding: 1.4rem;
	text-decoration: none;
}

.founder-social:hover {
	color: #F2F2F2;
}

.founder-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.founder-content {
	padding: 2rem 0 2rem 2rem;
}

.email {
	background-color: #BFD962;
}

.twitter {
	background-color: #84D98A;
}

.linkedin {
	background-color: #41BFA8;

}

.hexLeftTeam {
	left: -135px;
	top: -355px;
	width: 320px;
}
/******************************** END-MEET THE TEAM *************************************/

/******************************** BLOG *************************************/
#blog-row {
	margin: 13rem 0 1rem;
}

.blog-btn a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.hexLeftBlog {
	left: -115px;
	bottom: -60px;
	width: 320px;
}

.hexRightBlog {
	right: 160px;
	bottom: 270px;
	width: 320px;
}
/******************************** END-BLOG *************************************/

/******************************** CONTACT US *************************************/
#contact-image{
	background-image: url('https://t4.ftcdn.net/jpg/04/99/22/13/240_F_499221383_kloBwzLeQ21or4AfVUBYUrwR3RXrMovc.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	padding: 3rem 0;
}

.contact-form{
	background-color: white;
	margin: 2rem;
	padding: 3rem 4rem;
	border-radius: 25px;  
	color: #707070;
}

.form-group {
	width: 100%;
}

.alt-option {
	background-color: white;
	border-radius: 10px;
}

.colour-input-box {
	background-color: #DFFFFF;
	border-color: #32C2C2;
	color: #32C2C2;
	border-width: 0.15rem;
}

.colour-input-box:focus {
	border-color: #32C2C2;
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 194, 194, 1);
}

.outline-input-box {
	border-color: #32C2C2;
	border-width: 0.15rem;
}

.outline-input-box:focus {
	border-color: #32C2C2;
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 194, 194, 1);
}

.form-label {
	color: #32C2C2;
	margin-top: 1rem;
	font-weight: bold;
}

.contact-submit-btn {
	background-color:  #32C2C2;
	border-color: #32C2C2;
	color:white;
	display: block;
	margin: 1.5rem auto 0.5rem;
	padding: 0.8rem 3rem;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-submit-btn:hover {
	background-color: #41BFA8;
	border-color: #41BFA8;
}
.contact-submit-btn:focus {
	background-color:  #32C2C2;
	border-color: #32C2C2;
}

.subscribed {
	background-color:  #DFFFFF;
	border-color: #32C2C2;
	border-width: 0.15rem;
	font-size: 1.2rem;
}

.subscribed:focus {
	border-color: #32C2C2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 194, 194, 1);
}

.subscribed:checked {
	border-color: #32C2C2;
	background-color: #32C2C2;
}

.address {
	margin: 0 0;
	color: #707070;
	font-family: filson-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.location-div {
	background-color: #BFD962;
	border-radius: 25px;
	padding: 5%;
}

.pinpoint-location{
    background-color: #BFD962;
    border-radius: 50%;
}
.pin-image{
	width:13%;
}
/******************************** END-CONTACT US *************************************/

/******************************** FOOTER *************************************/
#footer {
	background-color: #fcfcfc;
	color: white;
	padding: 2rem 0;
}

.footer-text {
	margin: 0 2.5%;
	text-decoration: none;
	color: white;
	font-size: 6vw;
}

.footer-text:hover {
	color: #d6d6d6;
}

.site-links {
	margin-top: 1.3%;
}

.site-link {
	color: #d6d6d6;
	text-decoration: none;
}

.site-link:hover {
	color: white;
}

.copyright-text {
	font-size: 0.6vw;
	color: #24a7b5;
	margin: 0 2%;
}

/******************************** END-FOOTER *************************************/

/********************************* END-ALWAYS APPLICABLE REGARDLESS OF SCREEN SIZE ***************************/

/***************************************** Mobile portrait ***********************************************/
@media only screen and (min-width: 768px) {
    /************** GENERAL ****************/
    .image {
		display: none;
	}

	.mobile-text {
		font-size: 3em;
	}

	.mobile-header {
		font-size: 4em;
	}
    /************** END-GENERAL ****************/

	/************** HEADER / NAVBAR *************/
	.banner {
		font-family: 'Times New Roman', Times, serif;
		color: rgb(0, 0, 0);
		margin-top: 5px;
		margin-bottom: 20px;
	}

	.banner h1 {
		font-size: 100px;
	}

	.banner-body {
		font-size: 48px;
	}

	.navbar-menu a {
		color: rgb(0, 0, 0) !important;
		font-family: 'Roboto', sans-serif;
		font-size: 48px;
	}

	#logo {
		width: 60%;
		margin-top: 0.3rem;
	}

	.navbar-toggler-icon {
		padding: 3rem;
		margin-top: 0.3rem;
	}
	/************** END-HEADER / NAVBAR *************/

    /******************************** ABOUT US *************************************/
    .brain-image {
		display: none;
	}

	.hexRightAbout, .hexLeftBlog, .hexLeftHeader, .hexLeftTeam, .hexRightHeader, .hexRightBlog {
		display: none;
	}
    /******************************** END-ABOUT US *************************************/

    /******************************** MEET THE TEAM *************************************/
    .founder-card {
		width: 90%;
		height: 900px;
		margin: 5%;
		padding: 0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		font-size: 55px;
		text-decoration: none;
		border: none;
		text-align: bottom;
	}

	.founder-card h6 {
		font-size: 90px;
	}

	.heading {
		font-size: 100px;
	}

	.founder-info {
		color: black;
		width: 90%;
		padding: 0;
		margin: 0 5%;
		line-height: 5rem;
		font-size: 50px; 
		text-align: left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.founder-info h5 {
		font-size: 60px;
	}

	.founder-social {
		padding: 2rem;
		line-height: 13rem;
	}

	.show-mobile {
		display: none;
	}
	.hide-mobile {
		display: none;
	}

    /******************************** BLOG *************************************/
	.blog-btn {
		margin: 4rem auto !important;
	}
    /******************************** END-BLOG *************************************/

    /******************************** CONTACT US *************************************/
    .contact-form{
		position: relative;
		left: 5%;
	}

	.contact-submit-btn {
		font-size: 3rem;
	}

	.location-div {
		margin: 10% 0;
		width: 100%;
		position: relative;
	}

	.location-div::before{
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #BFD962;
		right: 50%;
		bottom: -20px;
	}

	.company {
		font-size: 4rem;
		font-family: filson-soft, sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #707070;
	}

	.cta {
		font-size: 3rem;
	}

	.image-div{
		position: relative;
		left: 37%;
		bottom: 3rem;
		width: 150%;
	}

	.colour-input-box, .outline-input-box {
		height: 5rem;
		font-size: 3rem;
	}

	input[type=checkbox] {
		width: 3.5rem;
		height: 3.5rem;
	}
    /******************************** END-CONTACT US *************************************/

    /******************************** FOOTER *************************************/
    .site-link {
		font-size: 2.2rem;
	}

	.footer-title {
		font-size: 2.5rem;
	}

	.haelu-social {
		color: #283d50;
		margin: 0 10% 0 2.5%;
	}

	.footer-logo { 
		width: 80%;
		position: relative;
		bottom: 10px;
	}
    /******************************** END-FOOTER *************************************/
}
/***************************************** END-Mobile portrait ***********************************************/

/**************************************** Mobile landscape ****************************************************/
@media only screen and (orientation: landscape) {
    /************** GENERAL ****************/
    /************** END-GENERAL ****************/

    /******************************** ABOUT US *************************************/
    /******************************** END-ABOUT US *************************************/

    /******************************** MEET THE TEAM *************************************/
    .founder-card {
		width: 16rem;
		height: 25rem;
		margin: 2rem 0.61rem;
		font-size: 24px;
	}

	.founder-card h6 {
		font-size: 28px;
	}

	.heading {
		font-size: 45px;
	}

	.founder-info {
		color: black;
		width: 100%;
		margin: 0 1%;
		line-height: 3rem;
		font-size: 28px; 
		text-align: left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.founder-info h5 {
		font-size: 36px;
	}

	.founder-social {
		line-height: 6rem;
	}

	.show-mobile {
		display: none;
	}
	.hide-mobile {
		display: block;
	}
    /******************************** END-MEET THE TEAM *************************************/

    /******************************** BLOG *************************************/
    /******************************** END-BLOG *************************************/

    /******************************** CONTACT US *************************************/
    /******************************** END-CONTACT US *************************************/

    /******************************** FOOTER *************************************/
    /******************************** END-FOOTER *************************************/

}
/**************************************** END-Mobile landscape ****************************************************/

/****************************************** Tablet Portrait ******************************************************/
@media only screen and (min-width: 1024px) {
    /************** GENERAL ****************/
    /************** END-GENERAL ****************/

	/************** NAVBAR / HEADER ************************/
	.navbar-menu a {
		font-size: 28px;
	}
	/************** END-NAVBAR / HEADER ************************/

    /******************************** ABOUT US *************************************/
    /******************************** END-ABOUT US *************************************/

    /******************************** MEET THE TEAM *************************************/
    /******************************** END-MEET THE TEAM *************************************/

    /******************************** BLOG *************************************/
    /******************************** END-BLOG *************************************/

    /******************************** CONTACT US *************************************/
    /******************************** END-CONTACT US *************************************/

    /******************************** FOOTER *************************************/
    /******************************** END-FOOTER *************************************/
}
/****************************************** END-Tablet Portrait **************************************************/

/********************************************** Desktop ******************************************************/
@media only screen and (min-width: 1200px) {
    /************** GENERAL ****************/
    .image {
		display: block;
	}

	.mobile-text {
		font-size: 1em;
	}

	.mobile-header {
		font-size: 2em;
	}

	.hexRightAbout, .hexLeftBlog, .hexLeftHeader, .hexLeftTeam, .hexRightHeader, .hexRightBlog {
		display: block;
	}
    /************** END-GENERAL ****************/

	/************* NAVBAR / HEADER *************/
	.navbar-menu a {
		color: rgb(0, 0, 0) !important;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		margin-left: 1rem;
	}

	#logo {
		width: 30%;
	}

	.banner h1 {
		font-size: 80px;
	}
	
	.banner-body {
		font-size: 36px;
	}
	/************* END-NAVBAR / HEADER ********************/

    /******************************** ABOUT US *************************************/
    .brain-image {
		max-width: 60%;
		margin: 0 20%;
		display: block;
	}

	.hexRightAbout {
		right: 180px;
		top: -70%;
		overflow-x: hidden;
		width: 360px;
	}
    /******************************** END-ABOUT US *************************************/

    /******************************** MEET THE TEAM *************************************/
    .founder-card {
		width: 18%;
		height: 22rem;
		margin: 2rem 1%;
		font-size: 15px;
	}

	.founder-card h6 {
		font-size: 22px;
	}

	.heading {
		font-size: 36px;
	}

	.founder-info {
		width: 98%;
		line-height: 3rem;
		font-size: 16px;
		margin: 0 auto;
	}

	.founder-info h5 {
		font-size: 20px;
	}

	.founder-social {
		padding: 1rem;
	}

	.show-mobile {
		display: none;
	}
	.hide-mobile {
		display: block;
	}

	#team-quote {
		margin: 0 1rem;
		font-family: filson-soft, sans-serif;
		font-weight: 300;
	}

	.open-quotemark {
		background-image: url('../assets/img/logo/unigate/open-quotemark.png');
		background-size: 80px 65px;
		background-repeat: no-repeat;
		background-position: 3% 0%;

	}

	.team-quote-content {
		font-size: 2rem;
		margin: 0 8rem 0 6rem;
		padding-top: 1.5rem;
		text-align: center;
	}

	.close-quotemark {
		background-image: url('../assets/img/logo/unigate/close-quotemark.png');
		background-size: 80px 65px;
		background-repeat: no-repeat;
		background-position: 95% 65%;
	}

	.team-quote-author {
		font-style: italic;
		font-size: 1rem;
	}
    /******************************** END-MEET THE TEAM *************************************/

	/********************************  MEET OUR CLIENTS SECTION *************************************/


	.section-header h3 {
		font-size: 36px;
		color: #283d50;
		text-align: center;
		font-weight: 500;
		position: relative;
	}
	
	.section-header p {
		text-align: center;
		margin: auto;
		font-size: 15px;
		padding-bottom: 60px;
		color: #556877;
		width: 50%;
	}
	
	#clients {
		padding: 60px 0;
		
	}
	#clients .clients-wrap {
		border-top: 1px solid #d6eaff;
		border-left: 1px solid #d6eaff;
		margin-bottom: 30px;
	}
	
	#clients .client-logo {
		padding: 64px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		border-right: 1px solid #d6eaff;
		border-bottom: 1px solid #d6eaff;
		overflow: hidden;
		background: #fff;
		height: 160px;
	}
	
	#clients img {
		transition: all 0.4s ease-in-out;
	}
	 

	/********************************  END MEET OUR CLIENTS SECTION *************************************/

    /******************************** BLOG *************************************/
	#blog-row {
		max-height: 800px;
	}

	.blog-btn {
		margin: 4rem auto 0 !important;
	}
    /******************************** END-BLOG *************************************/

    /******************************** CONTACT US *************************************/
    .contact-heading {
		margin-top: 5rem;
	}

	.contact-form{
		position: relative;
		left: 0;
	}

	.contact-submit-btn {
		font-size: 1rem;
	}

	#contact .heading{
		font-size: 36px;
		margin-bottom: 1rem;
	}

	.location-div {
		width: 22rem;
		margin: 50% auto 0;
	}

	.company {
		font-size: 2rem;
	}

	.cta {
		font-size: 18px;
		margin-right: 12%;
		font-weight: 500;
	}

	.image-div{
		position: relative;
		left: 40%;
		top: 1.5rem;
		width: 100%;
	}

	.colour-input-box, .outline-input-box {
		height: 3rem;
		font-size: 1rem;
	}

	input[type=checkbox] {
		width: 1.2rem;
		height: 1.2rem;
	}
    /******************************** END-CONTACT US *************************************/

    /******************************** FOOTER *************************************/
    .site-link {
		font-size: 0.9rem;
	}

	.footer-title {
		font-size: 0.9rem;
	}

	.haelu-social {
		font-size: 1rem;
		margin: 0 11% 0 2.5%;
	}

	.footer-logo { 
		width: 60%;
		position: relative;
		bottom: 20px;
	}
    /******************************** END-FOOTER *************************************/
}
/********************************************** END-Desktop ******************************************************/